
@{
    ViewBag.Title = "booking";


}
<div style="width:50%;height:auto; background-color:#0026ff;border-radius:5px;margin-left:30%;margin-top:10%; margin-bottom:15%;">

    <h4 style="color:white;text-align:center;padding:10%;text-transform:capitalize;word-spacing:2px;">
        “Your job is booked. You will receive confirmation as soon as possible”. Thank You


    </h4>


</div>
