
@{
    ViewBag.Title = "Rejected";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:33%;height:25%; background-color:#0026ff;border-radius:5px;margin-left:30%;margin-top:10%; margin-bottom:15%;">

    <h4 style="color:white;text-align:center;padding:10%;text-transform:capitalize;word-spacing:2px;">Sorry! Your documents are rejected.Please contact for more information.</h4>


</div>

