@{
    ViewBag.Title = "Contact";
}


<!-- Contact -->
<section class="contact py-5">
    <div class="container py-lg-5">
        <h1 class="heading text-capitalize text-center">Contact Us</h1>
       
        <div class="row agile-contact-form mt-md-5">
            <div class="col-md-6 contact-form-left map mt-5-md">
                <div class="w3layouts-contact-form-top">
                    <div class="contact-form-top  mb-md-3">
                        <h4>Locate Us</h4>
                    </div>
                   
                    @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3381268.89304075!2d-108.26956901768942!3d34.145820117962906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4b0d03d337cc6ad9%3A0x9968b72aa2438fa5!2sCanada!5e0!3m2!1sen!2sin!4v1524478277945" allowfullscreen></iframe>*@
               
                    <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=the%20chauffeur%20team%20london&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                   
                        </div>
                
                </div>

            </div>
            <div class="col-md-6 mt-md-0 mt-4 contact-form-right">
                <div class="contact-form-top mb-md-3">
                    <h4>Send us a message</h4>
                </div>
                <div class="agileinfo-contact-form-grid">
                    <form action="#" method="post">
                        <input type="text" name="Name" placeholder="Name" required="">
                        <input type="text" name="Subject" placeholder="Subject" required="">
                        <input type="email" name="Email" placeholder="Email" required="">
                        <textarea name="Message" placeholder="Message" required=""></textarea>
                        <button class="btn1">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row top mt-5">
            <div class="col-lg-4 mb-lg-0 mb-4 address-grid">
                <div class="row address-info">
                    <div class="col-lg-3 col-sm-2 mb-sm-0 mb-3 address-left">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="col-lg-9 col-sm-10 address-right text-left">
                        <h6>Address</h6>
                        <p>
                            Western Gateway, London, England
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-lg-0 mb-4 address-grid">
                <div class="row address-info">
                    <div class="col-lg-3 col-sm-2 mb-sm-0 mb-3 address-left">
                        <i class="fas fa-envelope-open"></i>
                    </div>
                    <div class="col-lg-9 col-sm-10 address-right text-left">
                        <h6>Email</h6>
                        <p>

                            <a href="mailto:info@savoyminicabs.co.uk"> </a>Info@savoyminicabs.co.uk </li>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 address-grid">
                <div class="row address-info">
                    <div class="col-lg-3 col-sm-2 mb-sm-0 mb-3 address-left">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="col-lg-9 col-sm-10 address-right text-left">
                        <h6>Phone</h6>
                        <p>020 8672 0000</p>
                        @*<p>Fax : 112 367 896 2449</p>*@
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- //Contact -->
