
@{
    ViewBag.Title = "Fleet";
}

<div>
    <div id="bgfleet">
        <div class="col-md-12"></div>
        
        <div class="col-md-12">
            <div class="fleettext p-3">
                <h2 class="hfleet ">Chauffeur Ready for You</h2>
                <br />

                <h2 class="hfleet mt-5">Our Fleet</h2>
            </div>
        </div>
       
        
    </div>

</div>

<div class="container py-5">
    <div class="col-md-12 mt-md-3">
        <p class="lead"><b style="color:#1853a1;font-weight:500;">The Chauffeur Team </b>have a large team of professional drivers with excellent knowledge of London routes. We have an extensive fleet of vehicles, which vary from Mercedes Benz, Lexus, S Classes to 7 Seaters and for those special occasions limousine’s are also available upon request.</p>
    </div>

</div>
<div class="container mt-3 py-5">
    <div class="row">
        <div class="col-md-6 mt-md-5">

            <h4 class="text-center mb-md-5 ">Mercedes E-Class</h4>

            <div class="mb-md-3 text-center">
                <img src="~/images/eclass-300x124.png" alt="Alternate Text" class="imgfleet"/>
            </div>
            <p class="lead mt-5">Mercedes E Class Chauffeur Car The Mercedes E Class is regarded as the business class chauffeur driven vehicle of choice or perhaps an affordable luxury which guarantees the high quality one would expect from Mercedes</p>

            <ul class="p-5 mt-md-5">
                <li>Leather interior</li>
                <li>Privacy glass</li>
                <li>Air conditioning</li>
                <li>CD entertainment system</li>
            </ul>
            <p class="lead mt-">Carries up to 4 passengers plus 3 suitcases + 3 hand luggage </p>
        </div>
        
        <div class="col-md-6 mt-md-5">

            <h4 class="text-center mb-md-5 ">Mercedes S-Class</h4>

            <div class="mb-md-3 text-center">
                <img src="~/images/2016_mercedes-benz-300x154.png" alt="Alternate Text"  class="imgfleet"/>
            </div>
            <p class="lead">Confident, supremely assured and sensuous, the new S-Class cements its position as the premium car in its class. With a new design idiom, very high levels of comfort, innovative technology and a comprehensive range of low carbon emission engines, it’s time to make way for a true leader.</p>

            <ul class="p-5">
                <li>Leather interior</li>
                <li>Privacy glass</li>
                <li>Air conditioning</li>
                <li>CD entertainment system</li>
            </ul>
            <p class="lead mb-md-5">Carries up to 4 passengers plus 3 suitcases + 3 hand luggage </p>
        </div>
    </div>

</div>


<div class="container mt-3 py-5">
    <div class="row">
        <div class="col-md-6 mt-md-5">

            <h4 class="text-center mb-md-5 ">Mercedes Viano</h4>

            <div class="mb-md-3 text-center">
                <img src="~/images/1474207605_viano2016_eshop_01-300x225.png" alt="Alternate Text" class="imgfleet" />
            </div>
            <p class="lead">The Mercedes Viano is a clever blend of traditional Mercedes-Benz values: quality and attention to detail. It boasts first-class safety, flexible seating options, intelligent storage and room for up to 7 passengers and their luggage… you can take it all with you.</p>

            <ul class="p-5">
                <li>Leather interior</li>
                <li>Privacy glass</li>
                <li>Air conditioning</li>
                <li>CD entertainment system</li>
            </ul>
            <p class="lead mb-md-5">Carries up to 7 passengers plus 8 suitcases + hand luggage</p>
        </div>

        <div class="col-md-6 mt-md-5">

            <h4 class="text-center mb-md-5 ">BMW 7 Series</h4>

            <div class="mb-md-3 text-center">
                <img src="~/images/bmw-300x198.png" alt="Alternate Text" class="imgfleet" />
            </div>
            <p class="lead mt-md-5">Confident, supremely assured and sensuous, the BMW 7 Series provides excellent premier class travel With excellent cabin space, designed comfort together with optimum technology and a low emission diesel engine, it is a leading car about Town.</p>

            <ul class="p-5">
                <li>Leather interior</li>
                <li>Privacy glass</li>
                <li>Air conditioning</li>
                <li>CD entertainment system</li>
            </ul>
            <p class="lead mb-md-5">Carries up to 4 passengers plus 3 suitcases + 3 hand luggage </p>
        </div>
    </div>

</div>