
@{
    ViewBag.Title = "Prices";
}
<div class="banner" id="home">
    <!-- header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light top-header">
            <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto" id="myul">
                    <li class="nav-item ">
                        <a class="nav-link ml-lg-0" href="/Home/Index">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/Home/Prices">Airport Prices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/Home/About">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Booking">Booking</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Contact">Contact</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>
    <!-- //header -->
</div>
<!--//banner-->
    <!--//airport prices-->
    <section class="container py-5">
        <div class="row">
            <div class=" col-12 text-center">
                <h1  style="font-weight: 800;">
                    AIRPORT PRICES
                </h1>
                <p class="lead mt-2 mb-5" >24 Hour Specialists For Airport Drop & Pickup.</p>
            </div>
            
            <table class="table table-hover border">
                <thead>
                <tr>
                    <th scope="col"><i class="fas fa-plane"></i> Airports</th>
                    <th scope="col">Saloon</th>
                    <th scope="col">Estate</th>
                    <th scope="col">MPV</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  
                    <td>Stansted</td>
                    <td>£ 30.00</td>
                    <td>£ 35.00</td>
                    <td>£ 45.00</td>
                </tr>
                
                <tr>
                  
                    <td>Heathrow 1, 2, 3</td>
                    <td>£ 40.00</td>
                    <td>£ 45.00</td>
                    <td>£ 60.00</td>
                </tr>
                <tr>
                  
                    <td>Heathrow 4, 5</td>
                    <td>£ 43.00</td>
                    <td>£ 48.00</td>
                    <td>£ 65.00</td>
                </tr>
                <tr>
                  
                    <td>Luton</td>
                    <td>£ 42.00</td>
                    <td>£ 47.00</td>
                    <td>£ 65.00</td>
                </tr>
                <tr>
                  
                    <td>Gatwick</td>
                    <td>£ 50.00</td>
                    <td>£ 55.00</td>
                    <td>£ 75.00</td>
                </tr>
                <tr>
                  
                    <td>City</td>
                    <td>£ 30.00</td>
                    <td>£ 35.00</td>
                    <td>£ 45.00</td>
                </tr>
                <tr>
                  
                    <td>Southend</td>
                    <td>£ 50.00</td>
                    <td>£ 55.00</td>
                    <td>£ 75.00</td>
                </tr>
               
               
                </tbody>
            </table>
            

        </div>

    </section>
    <!--//airport prices-->
